.container {
	color: green;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.headline {
	text-align: center;
}

.block {
	height: 200px;
	width: 300px;
	background-color: #999;
}

.hot {
	composes: block;
	background-color: red;
}
